doctype html
html
  head
    title NodeJs Platform
    
    style
      include ../static/CSS/contact.css
  body
    nav#navbar
        ul 
          li: a(href="/") Home
          li: a(href="/") About 
          li: a(href="/contact") Contact
          li: a(href="/") Help

    div.container
        form(action="/contact" method="post")
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png')
            input(type="text" name="name" id="name" placeholder="Enter your name")
            input(type="number" name="age" id="age" placeholder="Enter your Age") 
            input(type="number" name="mobile" id="mobile" placeholder="Enter your Mobile") 
            textarea(name="about" id="about" cols="30" rows="10") 
            div( style="display:flex")
                input(type="checkbox" name="check" id='check')
                label(for="check") Have you learnt Node before?

            button(type="submit" class="btn") Submit
        </form>
    </div>
      
      
    
   
    script
    //-   include script.js